<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Accueil</a>
        <a class="nav-item nav-link" routerLink="/">Historique</a>
        <a class="nav-item nav-link" routerLink="/">Paramétrage</a>
        <a class="nav-item nav-link" routerLink="/">Mon Profil</a>
        <a class="nav-item nav-link" (click)="logout()">Se Deconnecter</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
