@import '~@angular/material/prebuilt-themes/indigo-pink.css'; /*on importe le theme  indigo pink */

body {
    background-image: url('assets/images/bg3.jpg');
    background-repeat: repeat;
    background-size: cover;
}